
  /*
      fr: fractional elements = the amount of space left after all of the
      elements have been laid out
    */


.container__dashboard{
    border: 1px solid $primary-color;
    border-radius: .75rem;

    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 1fr 1fr 1fr;

    &.container__dashboard--header{

        /* end is -1 */
        grid-column: 1 / -1;
    }
    &.container__dashboard--body{
        grid-column: 1 / -1;     
    }
    &.container__dashboard--footer{
        grid-column: 1 / -1;    
    }
}