.nav__main ul {
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  
  .nav__main a {
    background: $color-1;
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    color: $primary-grey;
    text-transform: uppercase;
    font-size: 2rem;
  }
  
  [aria-controls="menu-list"] {
    display: none;
  }
  