$font-stack: Helvetica, sans-serif;
$primary-color: #333;
 
body {
  font: 100% Helvetica, sans-serif;
  color: $primary-color;
}


h1 {
    color: #fff;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 24px;
}
  
p {
    color: $primary-color;
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    max-width: 50ex;
}
  
p.large {
    font-size: 1.2rem;
    margin-top: 2rem;
}
  
a{
    color: $primary-color;
}